* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1200px;
  margin: auto!important;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px){
  .left-content{
    display: none;
  }

  .index{
    display: table;
    content: "";
  }

  div.right-content{
    position: relative !important;
    left:0 !important;

    .header{
      //display: block !important;
      display: flex !important;
    }

    ul::before{
      display: table;
      content: "";
    }
    ul li{
      width: 100% !important;
    }
    .footer{
      font-size: 12px;
    }
  }
}
