* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1200px;
  margin: auto!important;
  font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
}

html{
  height: 100%;
}

ul{
  list-style: none;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px){
  .left-content{
    display: none;

    &.screen-change{
      z-index: 100;
      background: white;
      display: block;
    }
  }

  .index::before{
    display: table;
    content: "";
  }

  div.right-content{
    position: relative !important;
    left:0 !important;
    width: 100% !important;
    .header{
      //display: block !important;
      display: flex !important;
    }

    ul::before{
      display: table;
      content: "";
    }
    ul.article-page li{
      width: 100% !important;
    }
    .footer{
      font-size: 12px;
    }
  }
}
