{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup","java"],
      "plugins": ["toolbar","line-numbers","line-highlight","copy-to-clipboard","download-button","show-language"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}